doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Noom
  body
    header
      h1 Noom
    main
      div#room
        form
          input(type="text", placeholder="room name", required)
          button join
        h4 open room
        ul 

      form#nickname
        input(type="text", placeholder="choose your nickname", required)
        button save 
      h2
      ul 
      form#message
        input(type="text", placeholder="new message", required)
        button send
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js") 